<div>
  <h2><%= @book.title%></h2>
  <h4>Author: <%= @book.author%> </h4>
  <h4>Description: <%= @book.description%> </h4>
  

  <a href="/books/<%= @book.id %>/edit"><button type="submit">Edit Book</button></a>
  <form action="/books/<%= @book.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="Delete">
    <button type="submit">Delete Book</button>
  </form>

</div>
